<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ site.baseurl }}/assets/images/nmte-logo-footer.png" alt="NMTE" class="footer-logo-img">
      </div>
      <div class="footer-right">
        <div class="footer-social">
          <a href="https://www.facebook.com/NewMusicalTheatreExchange/" target="_blank" rel="noopener noreferrer">Facebook</a>
        </div>
        <div class="footer-copyright">
          &copy; {{ site.time | date: '%Y' }} New Musical Theatre Exchange
        </div>
      </div>
    </div>
  </div>
</footer>
