---
---

// Override minima variables BEFORE import
$brand-color: #c4a843;
$text-color: #e0dcd6;
$background-color: #111111;
$grey-color: #828282;
$grey-color-light: #333;
$grey-color-dark: #aaa;

@import "minima";
@import "custom";
